.span:hover
{
    background-color:#fff;
    
}

.without-border
{
    padding-left: 0px !important;
    padding-right: 0px !important; 
}

.divform
{
    opacity: 0.80;
}

.row{
    margin-bottom: 5% !important;
}

.phrase
{
    margin-top: 20% !important;
}

.img-social
{
    margin-left: 32% !important;
    margin-top: 5% !important;
}