
<!DOCTYPE html>
<html ng-app="bmSexMoveLoginApp">

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title ng-controller="MainCtrl">{{ appTitle }}</title>
  <meta name="keywords" content="Sex Move" />
  <meta name="description" content="Sex Move">
  <meta name="author" content="Boma Software">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="../../assets/skin/default_skin/css/theme.css">
  <link rel="stylesheet" type="text/css" href="../../app.css">
  <link rel="stylesheet" type="text/css" href="../../login/styles/index.css">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="../../assets/admin-tools/admin-forms/css/admin-forms.min.css">

  <link rel="shortcut icon" href="../../img/B-boma.png">
</head>

<body class="external-page external-alt sb-l-c sb-r-c">

  <!-- Start: Main -->
  <div id="main-sexmove" class="animated fadeIn skin-system">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

      <!-- begin canvas animation bg -->
      <div id="canvas-wrapper">
        <canvas id="demo-canvas"></canvas>
      </div>
            
      <!-- Begin: Content -->
      <section id="content" class="animated fadeIn">

        <div class="admin-form theme-info mw500" id="login" style="width:56% !important;">
          <div class="row mb15 table-layout">

            <div class="col-xs-6 pln">
              <a href="#" title="Return to Dashboard">
                <img src="../../img/logo.png" title="SexMove Logo" class="img-responsive w250">
              </a>
            </div>

            <div class="col-xs-6 va-b">
              <div class="login-links text-right">
                <a ng-href="/recoverPassword/recover" class="" style="color:white;" title="Reset Password">Resetar Senha</a>
              </div>
            </div>
          </div>

          <div class="panel">

            <form method="post" action="/" id="contact">
              <div class="panel-body p15">

                <div class="alert alert-micro alert-border-left alert-warning pastel alert-dismissable mn" >
                  <!--style="font-size:1em"-->
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <i class="fa fa-info pr10"></i> Digite o seu
                  <b>e-mail</b> e as instruções serão enviadas para você !
                </div>

              </div>
              <!-- end .form-body section -->
              <div class="panel-footer p25 pv15">

                <div class="section mn">

                  <div class="smart-widget sm-right smr-80">
                    <label for="email" class="field prepend-icon">
                      <input type="text" name="email" id="email" class="gui-input" placeholder="Seu E-mail">
                      <label for="email" class="field-icon">
                        <i class="fa fa-envelope-o"></i>
                      </label>
                    </label>
                    <button class="button btn-danger" style="color:white; padding:0.1%;">Resetar</button>
                    <!--<button class="button">Resetar</button>-->
                    
                  </div>
                  <!-- end .smart-widget section -->

                </div>
                <!-- end section -->
        
              </div>
              <!-- end .form-footer section -->

            </form>

          </div>

        </div>

      </section>
      <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

  </div>
  <!-- End: Main -->

</div>

