<!DOCTYPE html>
<html ng-app="bmSexMoveLoginApp">

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Sex Move" />
  <meta name="description" content="Sex Move">
  <meta name="author" content="Boma Software">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SexMove</title>  
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <link rel="stylesheet" type="text/css" href="../../assets/skin/default_skin/css/theme.css">
  <link rel="stylesheet" type="text/css" href="../../app.css">
  <link rel="stylesheet" type="text/css" href="../../login/styles/index.css">

  <script src="../../bower_components\angular\angular.min.js"></script>
  <script src="../../bower_components\angular-route\angular-route.min.js"></script>
  <script src="../../bower_components\angular-animate\angular-animate.min.js"></script>
  <script src="../../bower_components/lodash/dist/lodash.min.js"></script>
  <script src="../../bower_components/restangular/dist/restangular.min.js"></script>
  <script src="../../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="../../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <!-- Boma Js -->
  <script src="../../login/loginApp.js"></script>
  <script src="../../common/factories/message/messageFactory.js"></script>
  <script src="../../login/services/loginService.js"></script>
  <script src="../services/forgotPasswordService.js"></script>
  <script src="../../login/controllers/loginCtrl.js"></script>
  <script src="../controllers/forgotPasswordCtrl.js"></script>

  <link rel="stylesheet" type="text/css" href="../../assets/admin-tools/admin-forms/css/admin-forms.min.css">
  <link rel="shortcut icon" href="../../img/B-boma.png">
</head>
<body ng-app="bmSexMoveLoginApp" ng-controller="forgotPasswordCtrl as forgotVm" style="min-height:0px;">
  <section id="content" class="table-layout animated fadeIn" style="height:100% !important;">
  <!-- Start: Main -->
  <div id="main-sexmove" class="animated fadeIn skin-system">
    <section id="content_wrapper">
      <div id="canvas-wrapper">
        <canvas id="demo-canvas"></canvas>
      </div>
      <section id="content" class="animated fadeIn">
        <div class="admin-form theme-info mw500" id="login" style="width:56% !important; margin-left: 16%; margin-top: -5% !important;">
          <div class="row mb15 table-layout">
            <div class="col-xs-6 pln">
              <a href="#" title="Return to Dashboard">
                <img src="../../img/logo.png" title="SexMove Logo" class="img-responsive w250">
              </a>
            </div>
            <div class="col-xs-6 va-b">
              <div class="login-links text-right">
                <a ng-href="recoverPassword.html" style="color:white;" title="Resetar Senha">Resetar Senha</a>
              </div>
            </div>
          </div>
          <div class="panel">
            <form method="post" id="contact" name="forgot">
              <div class="panel-body p15">
                <p class="text-danger">
                  <i class="fa fa-info pr10"></i> Digite o seu
                  <b>e-mail</b> e as instruções serão enviadas para você !
                </p>
              </div>
              <div class="panel-footer p25 pv15">
                <div class="section mn">
                  <div class="smart-widget sm-right smr-160">
                    <label for="email" class="field prepend-icon">
                      <input type="text" name="email" ng-model="forgotVm.Email" id="email" class="gui-input" placeholder="Seu E-mail" ng-disabled="forgotVm.IsLoading">
                      <label for="email" class="field-icon">
                        <i class="fa fa-envelope-o"></i>
                      </label>
                    </label>
                    <button id="image-button" class="button btn-danger" ng-click="forgotVm.submit(forgot)" ng-disabled="forgotVm.IsLoading" style="color:white; padding:0.1%;">
                      <i>
                        Resetar &nbsp;
                        <img src="../../img/loading_16px.gif"  ng-show="forgotVm.IsLoading">
                      </i>
                      </button>
                    <div class="row"></div>
                    <div class="section mn">
                      <div class="alert alert-micro alert-border-left alert-success alert-dismissable" ng-show="forgotVm.Message">
                        <i class="fa fa-cog pr10 hidden"></i>
                        {{forgotVm.Message}}
                      </div>
                      <div class="alert alert-micro alert-border-left alert-danger alert-dismissable" ng-show="forgotVm.ErrorMessage">
                        <i class="fa fa-cog pr10 hidden"></i>
                        {{forgotVm.ErrorMessage}}
                      </div>
                    </div>
                </div>
                
              </div>
             
            </form>
          </div>
        </div>
      </section>
    </section>
  </div>
  </section>
</body>
</html>
  

