.skin-system{
    background-color: #000000 !important;
    background-image: url("img/chamas-pc.png") !important;
    background-size: cover;
    background-repeat: repeat !important;
    background-attachment: fixed !important;
    min-height: auto !important;

}

.bt-redes-sociais{
    float: left;

}

.admin-form{
    width: 30% !important;
    margin-top: 0% !important;
    margin-left: 34%;
    margin-right: 35%;
}

/*.gui-input:hover{
    border-color: #df5640 !important;
}*/

.btn-danger{
    background-color:#dd4b39 !important;
    border-color: #dd4b39 !important;  

}

.panel-danger{
    width: 505px !important;

}

.bm-alert{
    color: yellow;
}

.bm-important{
    color:#F7C65F;
}

.bm-btn-danger{
    color: #ffffff;
    background-color: #dd4b39 !important;
    border-color: rgba(0, 0, 0, 0.05);
}

.bm-p21{
    padding: 5% !important;
}

.pagbody
{
   background-color: #000000 !important;
    background-image: url("img/chamas.png") !important;
    background-repeat: repeat !important;
    background-attachment: fixed !important;
    height: auto;

}

.bm-bg-dark{
    background-color: #2E313D !important;
}

.global-header{
    padding-top: 5%;
}

.global-search{
    font-size: 14px;
    display: inline-block;
    margin: 11px 16px 0 16px;
    font-size: 16px;
    z-index:11;
    cursor: pointer;
}

.bm-loading-photos{
    left: 50%;
    top: 50%;
    display: block;
}





