<!DOCTYPE html>
<html ng-app="bmSexMoveLoginApp">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>SexMove </title>
  <base href="/">
  <meta name="keywords" content="Sex Move" />
  <meta name="description" content="Sex Move">
  <meta name="author" content="Boma Software">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <!-- FullCalendar Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="vendor/plugins/fullcalendar/fullcalendar.min.css">

  

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.min.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">

  <!-- Angular-Loading Bar Js -->
  <link rel="stylesheet" type="text/css" href="../../bower_components/angular-loading-bar/build/loading-bar.min.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../img/B-boma.png">


  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="../../assets/admin-tools/admin-forms/css/admin-forms.min.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="../../app.css">
  <link rel="stylesheet" type="text/css" href="../../assets/fonts/zocial/zocial.css">
  <link rel="stylesheet" type="text/css" href="../../assets/fonts/glyphicons-pro/glyphicons-pro.css">
  <link rel="stylesheet" type="text/css" href="../../assets/fonts/icomoon/icomoon.css">
  <link rel="stylesheet" type="text/css" href="../../assets/skin/default_skin/css/theme.css">

  <!-- Angular-Toastr Css-->
  <link rel="stylesheet" type="text/css" href="../../bower_components/angular-toastr/dist/angular-toastr.min.css">

  <!-- Boma Css -->
  <link rel="stylesheet" type="text/css" href="../../login/styles/index.css">

  <!-- Angular-Loading Bar Js -->
  <link rel="stylesheet" type="text/css" href="../../bower_components/angular-loading-bar/build/loading-bar.min.css">


  <!-- Favicon -->
  <link rel="shortcut icon" href="../../img/B-boma.png">


  <!-- Angular -->
  <script src="../../bower_components\angular\angular.min.js"></script>
  <script src="../../bower_components\angular-route\angular-route.min.js"></script>
  <script src="../../bower_components\angular-animate\angular-animate.min.js"></script>

  <!-- Lodash (Dependencia do Restangular)-->
  <script src="../../bower_components/lodash/dist/lodash.min.js"></script>

  <!-- Restangular -->
  <script src="../../bower_components/restangular/dist/restangular.min.js"></script>

  <!-- Angular-Toastr Js -->
  <script src="../../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

  <!-- Angular-Loading Bar Js -->
  <script src="../../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>


  <!-- Boma Js -->

  <script src="login/loginApp.js"></script>
  <script src="common/factories/message/messageFactory.js"></script>
  <script src="login/services/loginService.js"></script>
  <script src="common/factories/token/tokenFactory.js"></script>
  <script src="login/controllers/loginCtrl.js"></script>

</head>

<body class="skin-system" ng-app="bmSexMoveLoginApp" ng-controller="loginCtrl">


  <div class="external-page sb-l-c sb-r-c">
    <div id="main-sexmove" class="animated fadeIn skin-system">

      <!-- Start: Content-Wrapper -->
      <!--<section id="content_wrapper">-->

      <!-- Begin: Content -->
      <section id="content">

        <div class="admin-form theme-info" id="login1">

          <div class="row mb15 table-layout">

            <div class="col-xs-8 va-m pln">
              <a href="#">
                <img src="../../img/logo.png" title="Logo Movie Sex" class="img-responsive w450" style="margin-bottom: 5%;">
</a>
</div>
</div>
<form method="POST" name="loginForm" novalidate>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-9">
    <div class="row">
      <label for="username" class="field prepend-icon">
        <input type="text" class="gui-input" name="UserName" ng-model="Model.UserName" ng-required="true" style="background:#DCDCDC;" placeholder="Usuário" title="Entre com o usuário que já foi cadastrado">
        <label for="username" class="field-icon">
          <i class="fa fa-user"></i>
        </label>
      </label>
    </div>
  <div class="row">
    <label for="password" class="field prepend-icon">
      <input type="password" name="Password" ng-model="Model.Password" ng-required="true" class="gui-input" style="background:#DCDCDC;" placeholder="Senha">
      <label for="password" class="field-icon">
        <i class="fa fa-lock"></i>
      </label>
    </label>
  </div>
</form>
<div class="row">
  <div class="col-sm-6 without-border" style="margin-top:6.5%; margin-bottom:4%;">
<a ng-href="account/templates/forgotPassword.html" style="color:white;">Esqueci a senha</a>
</div>

<div class="col-sm-6 without-border">
  <button class="btn-block btn btn-danger" ng-click="login(loginForm)" ng-disabled="isLoading">Entrar</button>
</div>
</div>
<div class="row teste">
  <a href="account/templates/newAccount.html" class="btn-block btn btn-dark" ng-disabled="isLoading">Registre-se <b> GRÁTIS </b> por 10 dias ! </a>
</div>
<p class="text-warning mn" ng-show="loginForm.$submitted && (loginForm.UserName.$error.required)">Preencha o campo usuário </p>
<p class="text-warning mn" ng-show="loginForm.$submitted && (loginForm.Password.$error.required)">Preencha o campo senha</p>
</div>

<div class="col-sm-12 phrase">
   <img class="img-responsive w350" src="../../img/frase.png" style="margin: 0 auto;"> 
</div>
<div class="col-sm-12 img-social">
  <a href="https://www.blogger.com/" title="Blog" style="background: transparent; text-decoration:none;" target="_blank">
<input type="image" src="../../img/blog.png" alt="submit" style="padding:2%;">
</a>

<a href="https://www.youtube.com/" title="YouTube" style="background: transparent; text-decoration:none;" target="_blank">
<input type="image" src="../../img/youtube.png" alt="submit" style="padding:2%;">
</a>

<a href="https://twitter.com/" title="Twitter" style="background: transparent;" target="_blank">
<input type="image" src="../../img/twitter.png" alt="submit" style="padding:2%;">
</a>
</div>
<!-- end section -->

</div>
</div>
</div>

<!-- end .form-body section -->


<!-- end .form-footer section -->
</form>
</div>
</div>

</section>
<!-- End: Content -->

</div>


</body>

</html>