<section id="content" class="table-layout animated fadeIn" ng-controller="userHomeCtrl as vm">
    <!-- begin: .tray-center -->
    <link rel="stylesheet" type="text/css" href="user/styles/user.css" />
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
    <div class="tray tray-center">
        <div class="container">
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a ng-href="/users/search/Héteros">
                            <img src="img/menu-circle/colorful/casal-hetero100.png" class="ca-icon" >
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Héteros</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Gays">
                            <img src="img/menu-circle/colorful/casal-gay100.png" class="ca-icon" >
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Gays</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Lésbicas">
                            <img src="img/menu-circle/colorful/casal-lesbica100.png" class="ca-icon" >
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Lésbicas</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Solteiros">
                            <img src="img/menu-circle/colorful/solteiros.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Solteiros</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Solteiras">
                            <img src="img/menu-circle/colorful/solteiras.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Solteiras</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="/users/search/Casais">
                            <img src="img/menu-circle/colorful/casal-casal-trans100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casais</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Casal">
                            <img src="img/menu-circle/colorful/casal-casal-hetero100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casal</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Casal">
                            <img src="img/menu-circle/colorful/casal-casal-gay100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casal</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Casal">
                            <img src="img/menu-circle/colorful/casal-casal-lesbica100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casal</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="/users/search/Travesti">
                            <img src="img/menu-circle/colorful/trans_color.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Travesti</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Fotos">
                            <img src="img/menu-circle/colorful/fotos.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Fotos</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Eventos">
                            <img src="img/menu-circle/colorful/eventos2.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Eventos</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Casas">
                            <img src="img/menu-circle/colorful/casas.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casas</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="/users/search/Restaurantes">
                            <img src="img/menu-circle/colorful/restaurantes.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title" style="font-size:20px !important">Restaurantes</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Hóteis">
                            <img src="img/menu-circle/colorful/pousada_hotel.png" class="ca-icon" style="margin-top: 0% !important">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title" style="margin-top:-6% !important;">Hóteis & <br> Pousadas</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Profissionais">
                            <img src="img/menu-circle/colorful/profissionais.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Profissionais</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/Vídeos">
                            <img src="img/menu-circle/colorful/videos.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Vídeos</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/users/search/SexShop">
                            <img src="img/menu-circle/colorful/sexshop.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Sex Shop</h2>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- <ul>
                    <a ng-href="/user/newsfeed">TIMELINE</a>
                </ul> -->
            </div>
        </div>
        
            <div class="row">
                <hr>
                <div ng-include="'reports/templates/latestPhotosReportTemplate.html'"></div>
            </div>

            <div class="row">
                <hr>
                <div ng-include="'reports/templates/latestVideoReportTemplate.html'"></div>
            </div>
            
        
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    
    </div>
<!-- end: .tray-center -->

</section>
