      <!-- Begin: Content -->
      <section id="content" class="animated fadeIn">
              <!--<h2>TimeLine</h2>-->


        <!-- Timeline Wrapper -->
        <div id="timeline" class="mt30">

          <!-- Timeline Divider -->
          <!--<div class="timeline-divider mtn">
            <div class="divider-label">2017</div>
            <div class="pull-right">
              <button id="timeline-toggle" class="btn btn-default btn-sm">
                <span class="ad ad-lines fs16 lh20"></span>
              </button>
            </div>
          </div>-->

          <div class="row">

            <!-- Timeline - Left Column -->
            <div class="col-sm-6 left-column">
              <div class="timeline-item" id="post-conversa">
                <div class="timeline-icon">
                  <span class="glyphicon glyphicon-user text-primary"></span>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">
                      <span class="glyphicon glyphicon-comment"></span> Post </span>
                    <div class="panel-header-menu pull-right mr10 text-muted fs12">27 de março de 2017 </div>
                  </div>
                  <div class="panel-body">
                    <div class="media">
                      <a class="pull-left" href="#"> <img class="media-object thumbnail mw50" src="assets/img/avatars/4.jpg" alt="..."> </a>
                      <div class="media-body">
                        <h5 class="media-heading mb20">Jéssica Moura
                          <small> - 3 horas</small>
                        </h5>
                        <img src="img/timeline/001.jpg" class="mw140 mr25 mb20"> <img src="img/timeline/002.jpg" class="mw140 mb20">
                        <div class="media-links">
                          <span class="text-light fs12 mr10">
                            <span class="fa fa-thumbs-o-up text-primary mr5"></span> Curtir </span>
                          <span class="text-light fs12 mr10">
                            <span class="fa fa-share text-primary mr5"></span> Compartilhar </span>
                          <span class="text-light fs12 mr10">
                            <span class="glyphicon glyphicon-floppy-save text-primary mr5"></span> Salvar </span>
                          <span class="text-light fs12 mr10">
                            <span class="fa fa-comments text-primary mr5"></span> Comentar </span>
                        </div>
                      </div>
                    </div>
                    <div class="media mt20">
                      <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded mw40" src="assets/img/avatars/3.jpg" alt="..."> </a>
                      <div class="media-body mb5">
                        <h5 class="media-heading mbn">Ricardo Muniz
                          <small> - 3 horas</small>
                        </h5>
                        <p> Linda, maravilhosa, magnífica ! 😍😍 </p>
                      </div>
                    </div>
                    <div class="media mt15">
                      <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded mw40" src="assets/img/avatars/4.jpg" alt="..."> </a>
                      <div class="media-body mb5">
                        <h5 class="media-heading mbn">Jessica Moura
                          <small> - 3 horas</small>
                        </h5>
                        <p>Obrigado meu amor ❤️</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer p15">
                    <div class="admin-form">
                      <label for="reply1" class="field prepend-icon">
                        <input type="text" name="reply1" id="reply1" class="event-name gui-input" placeholder="Escreva um comentário...">
                        <label for="reply1" class="field-icon">
                          <i class="fa fa-pencil"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <!-- end .form-footer section -->

                </div>
              </div>
              <div class="timeline-item" id="galeria">
                <div class="timeline-icon">
                  <span class="glyphicon glyphicons-picture text-info"></span>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">
                      <span class="fa fa-picture-o"></span> Galeria </span>
                    <div class="panel-header-menu pull-right mr10 text-muted fs12"> 26 de março de 2017 </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="gallery-item" href="assets/img/stock/3.jpg"><img src="img/timeline/005.jpg" class="img-responsive" alt="">
                        </a>
                      </div>
                      <div class="col-xs-4">  
                        <a class="gallery-item" href="assets/img/stock/4.jpg"><img src="img/timeline/006.jpg" class="img-responsive" alt="">
                        </a>
                      </div>
                      <div class="col-xs-4">
                        <a class="gallery-item" href="assets/img/stock/5.jpg"><img src="img/timeline/007.jpg" class="img-responsive" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline-item" id="video">
                <div class="timeline-icon">
                  <span class="fa fa-video-camera text-primary"></span>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">
                      <span class="glyphicon glyphicon-facetime-video"></span> Video </span>
                    <div class="panel-header-menu pull-right mr10 text-muted fs12"> 25 de março de 2017 </div>
                  </div>
                  <!--https://www.youtube.com/embed/Fp6jQFBFyGA-->

                  <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/trMqnie5gx4" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Timeline - Right Column -->
            <div class="col-sm-6 right-column">
              <div class="timeline-item" id= "vazio">
                <div class="timeline-icon">
                  <span class="fa fa-paperclip text-danger"></span>                  
                </div>
                <div class="panel">
                  
                  <div class="panel-body">
                    <blockquote class="mbn ml10">
                      <p>Provoca quem sabe , resiste quem consegue 😘💋</p>
                      <small>Sabrina Leal</small>
                    </blockquote>

                  </div>
                </div>
              </div>
              <div class="timeline-item" id="mapa">
                <div class="timeline-icon">
                  <span class="fa fa-compass text-success"></span>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">
                      <span class="glyphicon glyphicon-camera"></span> Mapa do Evento</span>
                    <div class="panel-header-menu pull-right mr10 text-muted fs12"> 05 de março 2017</div>
                  </div>
                  <div class="panel-body">
                    <iframe width="100%" height="275" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14700.433736117411!2d-43.1885808!3d-22.909371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f6b138ed0cc5d4c!2sMistura+Certa+Clube!5e0!3m2!1spt-BR!2sbr!4v1489283428647"></iframe>
                  </div>
                </div>
              </div>
              <div class="timeline-item" id="galeria">
                <div class="timeline-icon">
                  <span class="fa fa-star-o text-alert"></span>
                </div>
                <div class="panel">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <a class="gallery-item" href="img/timeline/016.jpg"><img src="img/timeline/004.jpg" class="img-responsive" alt="">
                        </a>
                      </div>
                      <div class="col-xs-6">
                        <a class="gallery-item" href="img/timeline/015.jpg"><img src="img/timeline/003.jpg" class="img-responsive" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline-item" id="post-texto">
                <div class="timeline-icon">
                  <span class="fa fa-paperclip text-danger"></span>
                </div>
                <div class="panel">
                  <div class="panel-body p10">
                    <blockquote class="mbn ml10">
                      <p>Alguém pra conversar no privado ?? 😎😎 </p>
                      <small>Kelly Oliveira</small>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Timeline Divider -->
          <div class="timeline-divider">
            <div class="divider-label">2017</div>
          </div>

        </div>

        <!-- Timeline Demo HTML  -->
        <!--<div class="timeline-item panel-clone" id="clone">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-pencil"></i> A Title </span>
              <span class="panel-date pull-right mr10 text-muted fs12"> November 27, 2013 </span>
            </div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis sapien, vestibulum in dignissim vitae, condimentum eu nibh.</p>
            </div>
          </div>
        </div>-->


</section>