<section id="content" class="table-layout animated fadeIn">
    <!-- begin: .tray-center -->
    <link rel="stylesheet" type="text/css" href="user/styles/user.css" />
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
    <div class="tray tray-center">
          
        <h2>Página inicial</h2>
    
            <div class="container">
            <div class="header">
                <div class="clr"></div>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casal-hetero100.png" class="ca-icon" >
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Héteros</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casal-gay100.png" class="ca-icon" >
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Gays</h2>
                            </div>
                            <!--#3b3f4f-->
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casal-lesbica100.png" class="ca-icon" >
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Lésbicas</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/solteiros.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Solteiros</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casal-casal-trans100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casais</h2>
                            </div>
                        </a>
                    </li>
                    <!--<li>
                        <a href="#">
                            <img src="img/menu-circle/casal-casal-hetero100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casal</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casal-casal-gay100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casal</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casal-casal-lesbica100.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casal</h2>
                            </div>
                        </a>
                    </li>-->
                </ul>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/trans.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Trans</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/fotos.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Fotos</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/eventos.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Eventos</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/casas.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Casas</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="content">
                <ul class="ca-menu ca-list">
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/restaurantes.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title" style="font-size:20px !important">Restaurantes</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/pousada_hotel.png" class="ca-icon" style="margin-top: 0% !important">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title" style="margin-top:-6% !important;">Hóteis & <br> Pousadas</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/menu-circle/profissionais.png" class="ca-icon">
                            <div class="ca-content">
                                <h2 class="ca-main ca-title">Profissionais</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            
            
            <!-- content -->
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    
    
    
    
    
    
    
    
    
    </div>
<!-- end: .tray-center -->

</section>

<!-- Controllers -->
<script src="user/controllers/userHomeCtrl.js"></script>

<!--Configurações de Rotas -->
<script src="user/userRoute.js"></script>