<style>
  .galleryimg
  {
      width:50%;
  }
</style>
<section id="content" class="table-layout animated fadeIn " ng-controller="photosGalleryCtrl as vm">

<div class="tray tray-center">
  
  <div class="bm-loading-photos" style="position:relative; margin-top:40%; margin-left:46%;" ng-show="vm.isLoadingGallery" >
    <!--ng-show="vm.isLoadingGallery"-->
      <img src="../../img/loading_80px.gif" class="img-responsive" >
    </div>
  <div class="mix-container" ng-show="!vm.isLoadingGallery">
    <!--<h2 class="tray-title"> Minhas fotos </h2>-->
    <div class="row table-layout" style="background-color:#f5f5f5; margin-bottom:2%; padding-left:2%">
      <h2>Minhas Fotos</h2>
    </div>
    <!--<h2> Minhas fotos</h2>-->
    <div class="row">
      <panel-Photo  class="col-md-3" ng-repeat="photo in vm.photos | orderBy: photo.Name track by photo.Id"  name="{{photo.Name}}"  >
          <a href="#" class="photoShow" data-photoUrl="{{photo.Content}}" data-toggle="modal" data-target="#myModal">
            <img src="{{photo.Content}}" class="img-responsive center-block" title="{{photo.Name}}">
          </a>
        <div class="row table-layout">
              <div class="col-xs-8 va-m pln">
                  <h6>{{photo.Name}}</h6>
              </div>
              <div class="col-xs-4 text-right va-m prn">
                <!--<a href="#" class="fa fa-folder-open "    ></a> -->
                <a href="#" ng-click="vm.deletePhoto(photo.Id)" class="fa fa-trash"></a>
              </div>
        </div>
      </panel-Photo>
    </div>
  </div>
</div>

<aside class="tray tray-right tray320" data-tray-height="match">

  <h4 class="tray-title"> Nova Imagem </h4>

  <!-- Image Upload Field -->
  <!--<div class="fileupload fileupload-new admin-form mt20" data-provides="fileupload">-->

  <div class="fileupload fileupload-new admin-form mt20" data-provides="fileupload">
    <form  method="POST" name="newPhotoForm">
    <div class="row">
      <div class="col-xs-12">
        <span class="button btn-system btn-file btn-block ph5">
          <span class="fileupload-new">Carregar arquivo</span>
            <input type="file" 
            ngf-select="vm.onFileSelect($files)"
            ngf-accept="'image/*'" 
            ng-disabled="vm.isLoading">
         </span>
       
      </div>
      <hr>  
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="button btn-system btn-file btn-block ph5"  ng-disabled="vm.isLoading">
            <span>Enviar</span>
        </button>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
    </form>

  </div>
</aside>


</section>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="myModal" >
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px !important">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="photoName"></h4>-->
      </div>
      <div class="modal-body">
        <img src="#" id="photoUrl" style="top:50%; left:50%; width:500px;">
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    
<!-- Mixitup Plugin -->
  <script src="vendor/plugins/mixitup/jquery.mixitup.min.js"></script>
  <script src="js/gallery.js"></script>
<!-- Page Plugins -->
  <!--<script src="vendor/plugins/magnific/jquery.magnific-popup.js"></script>
  <script src="vendor/plugins/fileupload/fileupload.js"></script>
  <script src="vendor/plugins/holder/holder.min.js"></script>-->
<script type="text/javascript">
    jQuery(document).ready(function () {

      "use strict";

      // Init Demo JS  
      Demo.init();


      // Init Theme Core    
      Core.init();


      // Init Widget Demo JS
      // demoHighCharts.init();

      // Because we are using Admin Panels we use the OnFinish 
      // callback to activate the demoWidgets. It's smoother if
      // we let the panels be moved and organized before 
      // filling them with content from various plugins

      // Init plugins used on this page
      // HighCharts, JvectorMap, Admin Panels

      // Init Admin Panels on widgets inside the ".admin-panels" container
      // $('.admin-panels').adminpanel({
      //   grid: '.admin-grid',
      //   draggable: true,
      //   preserveGrid: true,
      //   // mobile: true,
      //   onStart: function () {
      //     // Do something before AdminPanels runs
      //   },
      //   onFinish: function () {
      //     $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');

      //     // Init the rest of the plugins now that the panels
      //     // have had a chance to be moved and organized.
      //     // It's less taxing to organize empty panels
      //     demoHighCharts.init();
      //     // runVectorMaps(); // function below
      //   },
      //   onSave: function () {
      //     $(window).trigger('resize');
      //   }
      // });


      // Init plugins for ".calendar-widget"
      // plugins: FullCalendar
      //
    // To keep our code clean and modular, all custom functionality will be
    // contained inside a single object literal called "dropdownFilter".
    var dropdownFilter = {

      // Declare any variables we will need as properties of the object
      $filters: null,
      $reset: null,
      groups: [],
      outputArray: [],
      outputString: '',

      // The "init" method will run on document ready and cache any jQuery objects we will need.
      init: function() {
        var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "dropdownFilter" object so that we can share methods and properties between all parts of the object.

        self.$filters = $('#select-filters');
        self.$reset = $('#mix-reset');
        self.$container = $('#mix-container');

        self.$filters.find('fieldset').each(function() {
          self.groups.push({
            $dropdown: $(this).find('select'),
            active: ''
          });
        });

        self.bindHandlers();
      },

      // The "bindHandlers" method will listen for whenever a select is changed. 
      bindHandlers: function() {
        var self = this;

        // Handle select change    
        self.$filters.on('change', 'select', function(e) {
          e.preventDefault();

          self.parseFilters();
        });

        // Handle reset click
        self.$reset.on('click', function(e) {
          e.preventDefault();

          self.$filters.find('select').val('');

          self.parseFilters();
        });
      },

      // The parseFilters method pulls the value of each active select option
      parseFilters: function() {
        var self = this;

        // loop through each filter group and grap the value from each one.
        for (var i = 0, group; group = self.groups[i]; i++) {
          group.active = group.$dropdown.val();
        }

        self.concatenate();
      },

      // The "concatenate" method will crawl through each group, concatenating filters as desired:
      concatenate: function() {
        var self = this;

        self.outputString = ''; // Reset output string

        for (var i = 0, group; group = self.groups[i]; i++) {
          self.outputString += group.active;
        }

        // If the output string is empty, show all rather than none:
        !self.outputString.length && (self.outputString = 'all');

        //console.log(self.outputString); 
        // ^ we can check the console here to take a look at the filter string that is produced

        // Send the output string to MixItUp via the 'filter' method:
        if (self.$container.mixItUp('isLoaded')) {
          self.$container.mixItUp('filter', self.outputString);
        }
      }
    };

    // To keep our code clean and modular, all custom functionality will be contained inside a single object literal called "checkboxFilter".
    var checkboxFilter = {

      // Declare any variables we will need as properties of the object
      $filters: null,
      $reset: null,
      groups: [],
      outputArray: [],
      outputString: '',

      // The "init" method will run on document ready and cache any jQuery objects we will need.
      init: function() {
        var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "checkboxFilter" object so that we can share methods and properties between all parts of the object.

        self.$filters = $('#checkbox-filters');
        self.$reset = $('#mix-reset2');
        self.$container = $('#mix-container');

        self.$filters.find('fieldset').each(function() {
          self.groups.push({
            $inputs: $(this).find('input'),
            active: [],
            tracker: false
          });
        });

        self.bindHandlers();
      },

      // The "bindHandlers" method will listen for whenever a form value changes. 
      bindHandlers: function() {
        var self = this;

        self.$filters.on('change', function() {
          self.parseFilters();
        });

        self.$reset.on('click', function(e) {
          e.preventDefault();
          self.$filters[0].reset();
          self.parseFilters();
        });
      },

      // The parseFilters method checks which filters are active in each group:
      parseFilters: function() {
        var self = this;

        // loop through each filter group and add active filters to arrays
        for (var i = 0, group; group = self.groups[i]; i++) {
          group.active = []; // reset arrays
          group.$inputs.each(function() {
            $(this).is(':checked') && group.active.push(this.value);
          });
          group.active.length && (group.tracker = 0);
        }

        self.concatenate();
      },

      // The "concatenate" method will crawl through each group, concatenating filters as desired:
      concatenate: function() {
        var self = this,
          cache = '',
          crawled = false,
          checkTrackers = function() {
            var done = 0;

            for (var i = 0, group; group = self.groups[i]; i++) {
              (group.tracker === false) && done++;
            }

            return (done < self.groups.length);
          },
          crawl = function() {
            for (var i = 0, group; group = self.groups[i]; i++) {
              group.active[group.tracker] && (cache += group.active[group.tracker]);

              if (i === self.groups.length - 1) {
                self.outputArray.push(cache);
                cache = '';
                updateTrackers();
              }
            }
          },
          updateTrackers = function() {
            for (var i = self.groups.length - 1; i > -1; i--) {
              var group = self.groups[i];

              if (group.active[group.tracker + 1]) {
                group.tracker++;
                break;
              } else if (i > 0) {
                group.tracker && (group.tracker = 0);
              } else {
                crawled = true;
              }
            }
          };

        self.outputArray = []; // reset output array

        do {
          crawl();
        }
        while (!crawled && checkTrackers());

        self.outputString = self.outputArray.join();

        // If the output string is empty, show all rather than none:
        !self.outputString.length && (self.outputString = 'all');

        //console.log(self.outputString); 
        // ^ we can check the console here to take a look at the filter string that is produced

        // Send the output string to MixItUp via the 'filter' method:
        if (self.$container.mixItUp('isLoaded')) {
          self.$container.mixItUp('filter', self.outputString);
        }
      }
    };

    // Init multiselect plugin on filter dropdowns
    $('#filter1').multiselect({
      buttonClass: 'btn btn-default',
    });
    $('#filter2').multiselect({
      buttonClass: 'btn btn-default',
    });

    // Init checkboxFilter code
    checkboxFilter.init();

    // Init dropdownFilter code
    dropdownFilter.init();

    var $container = $('#mix-container'), // mixitup container
      $toList = $('.to-list'), // list view button
      $toGrid = $('.to-grid'); // list view button

    // Instantiate MixItUp
    $container.mixItUp({
      controls: {
        enable: false // we won't be needing these
      },
      animation: {
        duration: 400,
        effects: 'fade translateZ(-360px) stagger(45ms)',
        easing: 'ease'
      },
      callbacks: {
        onMixFail: function() {}
      }
    });

    $toList.on('click', function() {
      if ($container.hasClass('list')) {
        return
      }
      $container.mixItUp('changeLayout', {
        display: 'block',
        containerClass: 'list'
      }, function(state) {
        // callback function
      });
    });
    $toGrid.on('click', function() {
      if ($container.hasClass('grid')) {
        return
      }
      $container.mixItUp('changeLayout', {
        display: 'inline-block',
        containerClass: 'grid'
      }, function(state) {
        // callback function
      });
    });

    // Add Gallery Item to Lightbox
    $('.mix img').magnificPopup({
      type: 'image',
      callbacks: {
        beforeOpen: function(e) {
          // we add a class to body to indicate overlay is active
          // We can use this to alter any elements such as form popups
          // that need a higher z-index to properly display in overlays
          $('body').addClass('mfp-bg-open');

          // Set Magnific Animation
          this.st.mainClass = 'mfp-zoomIn';

          // Inform content container there is an animation
          this.contentContainer.addClass('mfp-with-anim');
        },
        afterClose: function(e) {

          setTimeout(function() {
            $('body').removeClass('mfp-bg-open');
            $(window).trigger('resize');
          }, 1000)

        },
        elementParse: function(item) {
          // Function will fire for each target element
          // "item.el" is a target DOM element (if present)
          // "item.src" is a source that you may modify
          item.src = item.el.attr('src');
        },
      },
      overflowY: 'scroll',
      removalDelay: 200, //delay removal by X to allow out-animation
      prependTo: $('#content')
    });

      $('#calendar-widget').fullCalendar({
        // contentHeight: 397,
        editable: true,
        events: [{
          title: 'Sony Meeting',
          start: '2015-05-1',
          end: '2015-05-3',
          className: 'fc-event-success',
        }, {
          title: 'Conference',
          start: '2015-05-11',
          end: '2015-05-13',
          className: 'fc-event-warning'
        }, {
          title: 'Lunch Testing',
          start: '2015-05-21',
          end: '2015-05-23',
          className: 'fc-event-primary'
        },
        ],
        eventRender: function (event, element) {
          // create event tooltip using bootstrap tooltips
          $(element).attr("data-original-title", event.title);
          $(element).tooltip({
            container: 'body',
            delay: {
              "show": 100,
              "hide": 200
            }
          });
          // create a tooltip auto close timer  
          $(element).on('show.bs.tooltip', function () {
            var autoClose = setTimeout(function () {
              $('.tooltip').fadeOut();
            }, 3500);
          });
        }
      });


      // Init plugins for ".task-widget"
      // plugins: Custom Functions + jQuery Sortable
      //
      var taskWidget = $('div.task-widget');
      var taskItems = taskWidget.find('li.task-item');
      var currentItems = taskWidget.find('ul.task-current');
      var completedItems = taskWidget.find('ul.task-completed');

      // Init jQuery Sortable on Task Widget
      taskWidget.sortable({
        items: taskItems, // only init sortable on list items (not labels)
        handle: '.task-menu',
        axis: 'y',
        connectWith: ".task-list",
        update: function (event, ui) {
          var Item = ui.item;
          var ParentList = Item.parent();

          // If item is already checked move it to "current items list"
          if (ParentList.hasClass('task-current')) {
            Item.removeClass('item-checked').find('input[type="checkbox"]').prop('checked', false);
          }
          if (ParentList.hasClass('task-completed')) {
            Item.addClass('item-checked').find('input[type="checkbox"]').prop('checked', true);
          }

        }
      });

      // Custom Functions to handle/assign list filter behavior
      taskItems.on('click', function (e) {
        e.preventDefault();
        var This = $(this);
        var Target = $(e.target);

        if (Target.is('.task-menu') && Target.parents('.task-completed').length) {
          This.remove();
          return;
        }

        if (Target.parents('.task-handle').length) {
          // If item is already checked move it to "current items list"
          if (This.hasClass('item-checked')) {
            This.removeClass('item-checked').find('input[type="checkbox"]').prop('checked', false);
          }
          // Otherwise move it to the "completed items list"
          else {
            This.addClass('item-checked').find('input[type="checkbox"]').prop('checked', true);
          }
        }

      });


      var highColors = [bgSystem, bgSuccess, bgWarning, bgPrimary];

      // Chart data
      var seriesData = [{
        name: 'Phones',
        data: [5.0, 9, 17, 22, 19, 11.5, 5.2, 9.5, 11.3, 15.3, 19.9, 24.6]
      }, {
        name: 'Notebooks',
        data: [2.9, 3.2, 4.7, 5.5, 8.9, 12.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
      }, {
        name: 'Desktops',
        data: [15, 19, 22.7, 29.3, 22.0, 17.0, 23.8, 19.1, 22.1, 14.1, 11.6, 7.5]
      }, {
        name: 'Music Players',
        data: [11, 6, 5, 15, 17.0, 22.0, 30.8, 24.1, 14.1, 11.1, 9.6, 6.5]
      }];
    });
  </script>