
<aside id="sidebar_left" class="nano nano-light affix" ng-controller="leftMenuCtrl">

      <!-- Start: Sidebar Left Content -->
      <div class="sidebar-left-content nano-content">

        <!-- Start: Sidebar Header -->
        <header class="sidebar-header">

          <!-- Sidebar Widget - Author -->
          <div class="sidebar-widget author-widget">
            <div class="media">
              <a class="media-left" href="#">
                <img src="img/batman-small.png" class="img-responsive">
              </a>
              <div class="media-body" >
                <div class="media-links">
                   <a ng-href="/user/edit">Editar Perfil</a> - <a href="" ng-click="logout()">Sair</a>
                </div>
                <div class="media-author">{{ user.UserName}}</div>
              </div>
            </div>
          </div>

        </header>
        <!-- End: Sidebar Header -->

        <!-- Start: Sidebar Menu -->
        <ul class="nav sidebar-menu">
          <li>
            <a href="#">
              <span class="fa fa-credit-card"></span>
              <span class="sidebar-title">Assinatura</span>
              <span class="sidebar-title-tray">
                <span class="label label-xs bg-primary">Novo</span>
              </span>
            </a>
          </li>
          <li class="sidebar-label pt20">Meus dados</li>
          <li>
            <a href="#">
              <span class="fa fa-camera-retro"></span>
              <span class="sidebar-title">Fotos</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-video-camera"></span>
              <span class="sidebar-title">Vídeos</span>
            </a>
          </li>
          <li>
            <a href="#">
               <span class="fa fa-ticket"></span>
               <span class="sidebar-title">Eventos</span>
            </a>
          </li>
          <li>
            <a href="#">
                <span class="fa fa-home"></span>
                <span class="sidebar-title">Casas</span>
            </a>
          </li>
          <li>
            <a href="#">
                <span class="fa fa-cutlery"></span>
                <span class="sidebar-title">Restaurantes</span>
            </a>
            </li>
            <li>
            <a href="#">
                <span class="fa fa-briefcase"></span>
                <span class="sidebar-title">Profissionais</span>
            </a>
          </li>          
          <li class="sidebar-label pt15">Extras</li>
        <li>
            <a href="dashboard.html">
                <span class="fa fa-coffee"></span>
                <span class="sidebar-title">Bate papo</span>
            </a>
        </li>
        <li>
            <a href="dashboard.html">
                <span class="fa fa-play-circle"></span>
                <span class="sidebar-title">Vídeo conferência</span>
            </a>
        </li>
        <li>
            <a href="dashboard.html">
                <span class="fa fa-gamepad"></span>
                <span class="sidebar-title">Jogos</span>
            </a>
        </li>                
        </ul>
        <!-- End: Sidebar Menu -->

	      <!-- Start: Sidebar Collapse Button -->
	      <div class="sidebar-toggle-mini">
	        <a href="#">
	          <span class="fa fa-sign-out"></span>
	        </a>
	      </div>
	      <!-- End: Sidebar Collapse Button -->

      </div>
      <!-- End: Sidebar Left Content -->

    </aside>

