body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.external-page.external-alt #main{
    background-color: #000000 !important;
}

.panel{
    margin-left: auto !important;
    margin-right: auto !important;
}

.account-type{
    display: inline-block;
    background: #fff;
    border: 2px solid #cad4d6;
    color: #7f888a;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    width: 31%;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    margin-right: 15px;
}

.account-types{
    margin: 2%;
}

.account-type:hover{
    color: #727b7d;
    border-color: #aeb9bb;
}


.account-type.selected{
    border-color:#cc0000;
    color: #cc0000;
}

.account-type input[type=radio]{
    display: none;
}

.user-data{
    font-size: 10pt !important;

}

.form-control:hover{
    border-color:#cc0000 !important;
    color: #cc0000 !important;
}

.gui-input{
    outline: transparent !important;
}

.gui-input:hover, .gui-input:focus{
    border-color:#cc0000 !important;
    color: #cc0000 !important;
}

.blockquote-danger{
    font-size: 11px !important;
    border-left: 5px solid #cc0000 !important;
    margin: -19px 0 19px !important;
}

@media (min-width: 1100px){
    #content{
        padding: 23px 20px 0 21px !important;
    }
} 

.img-tool{
    background-image: url('img/tool.svg');
    background-repeat: no-repeat;
    width: 400px !important;
    height: 40px !important;
    background-size: 40px;
    margin-left: 50% !important;
    margin-right: 50% !important;
   
}


.imagem{
    display: block;
    height: 40px;
    text-align: center;
}
  
.media-body{
    width: 419px;
}

.h2{
    text-align: center;
}

.panel{
    width: 419px !important;
}

.footer-message {
    margin-left: 30% !important;
    color: #fff !important;
    
}



